<!-- Start Slider Area -->
<div id="home" class="rn-slider-area">
  <div class="slide slider-style-1">
    <div class="container">
      <div class="row row--30 align-items-center">
        <div class="order-2 order-lg-1 col-lg-7 mt_md--50 mt_sm--50 mt_lg--30">
          <div class="content">
            <div class="inner">
              <span class="subtitle">Bienvenido a mi Mundo</span>
              <h1 class="title">
                Hola, soy <span>Gustavo Chura</span><br />
                <span class="header-caption" id="page-top">
                  <!-- type headline start-->
                  <span class="cd-headline clip is-full-width">
                    <!-- <span>a</span> -->
                    <!-- ROTATING TEXT -->
                    <span class="cd-words-wrapper">
                      <b class="is-visible">Full Stack.</b>
                      <b class="is-hidden">Developer.</b>
                      <!-- <b class="is-hidden">Developer.</b> -->
                    </span>
                  </span>
                  <!-- type headline end -->
                </span>
              </h1>

              <div>
                <p class="description">
                  Soy un desarrollador con habilidades en diferentes lenguajes de programación, bases de datos y tecnologías de front-end y back-end. Me apasiona desarrollar soluciones innovadoras y escalables para problemas complejos. Si necesitas un desarrollador Full Stack confiable y competente, ¡contáctame!
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-12">
                <div class="social-share-inner-left">
                  <span class="title">Encuéntrame en</span>
                  <ul class="social-share d-flex liststyle">
                    <li class="github">
                      <a href="https://github.com/T1Scaynet" target="_blank" aria-label="github" aria-labelledby="github"><i data-feather="github"></i></a>
                    </li>
                    <li class="linkedin">
                      <a href="https://www.linkedin.com/in/gustavo-chura/" target="_blank" aria-label="linkedin" aria-labelledby="linkedin"><i data-feather="linkedin"></i></a>
                    </li>
                    <div class="user-info-bottom">
                      <div class="button-wrapper d-flex">
                          <a class="rn-btn mr--30" href="#cv"><span>DESCARGAR CV</span></a>
                      </div>
                    </div>
                  </ul>
                </div>
              </div>
              <div
                class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-12 mt_mobile--30"
              >
                
                <div class="skill-share-inner">
                  <span class="title">Mejores habilidades en</span>
                  <ul class="skill-share d-flex liststyle">
                    <li>
                      <img
                        src="/images/icons/react.svg"
                        alt="Icons Images"
                      />
                    </li>
                    <li>
                      <img
                        src="/images/icons/redux.svg"
                        alt="Icons Images"
                      />
                    </li>
                    <li>
                      <img
                        src="/images/icons/node.svg"
                        alt="Icons Images"
                      />
                    </li>
                    <li>
                      <img
                        src="/images/icons/nest.svg"
                        alt="Icons Images"
                      />
                    </li>
                    <li>
                      <img
                        src="/images/icons/typescript.svg"
                        alt="Icons Images"
                      />
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="order-1 order-lg-2 col-lg-5">
          <div class="thumbnail">
            <div class="inner">
              <img
                src="/images/slider/Profile - LinkedIn.jpeg"
                alt="Personal Portfolio Images"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Slider Area -->
