<!-- Start Portfolio Area -->
<div class="rn-portfolio-area rn-section-gap section-separator" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center">
          <span class="subtitle">Conoce mi experiencia</span>
          <h2 class="title">Mi Portafolio</h2>
        </div>
      </div>
    </div>

    <div class="row row--25 mt--10 mt_md--10 mt_sm--10">
      <!-- Start Single Portfolio -->
      <div
        data-aos="fade-up"
        data-aos-delay="100"
        data-aos-once="true"
        class="col-lg-6 col-xl-4 col-md-6 col-12 mt--50 mt_md--30 mt_sm--30"
      >
        <div
          class="rn-portfolio"
          data-toggle="modal"
          data-target="#FundacionAnimal"
        >
          <div class="inner">
            <div class="thumbnail">
              <a href="javascript:void(0)">
                <img
                  src="/images/portfolio/portfolio-01.jpg"
                  alt="Personal Portfolio Images"
                />
              </a>
            </div>
            <div class="content">
              <div class="category-info">
                <div class="category-list">
                  <a href="javascript:void(0)"
                    >MERN (MongoDB - Express - React - Node)</a
                  >
                </div>
              </div>
              <h4 class="title">
                <a href="javascript:void(0)"
                  >Fundación Animal<i class="feather-arrow-up-right"></i></a
                >
              </h4>
            </div>
          </div>
        </div>
      </div>
      <!-- End Single Portfolio -->

      <!-- Start Single Portfolio -->
      <div
        data-aos="fade-up"
        data-aos-delay="300"
        data-aos-once="true"
        class="col-lg-6 col-xl-4 col-md-6 col-12 mt--50 mt_md--30 mt_sm--30"
      >
        <div class="rn-portfolio" data-toggle="modal" data-target="#TheDog">
          <div class="inner">
            <div class="thumbnail">
              <a href="javascript:void(0)">
                <img
                  src="/images/portfolio/portfolio-02.jpg"
                  alt="Personal Portfolio Images"
                />
              </a>
            </div>
            <div class="content">
              <div class="category-info">
                <div class="category-list">
                  <a href="javascript:void(0)"
                    >PERN (PostgreSQL - Express - React - Node)</a
                  >
                </div>
              </div>
              <h4 class="title">
                <a href="javascript:void(0)"
                  >The Dogs<i class="feather-arrow-up-right"></i></a
                >
              </h4>
            </div>
          </div>
        </div>
      </div>
      <!-- End Single Portfolio -->

      <!-- Start Single Portfolio -->
      <!-- <div
        data-aos="fade-up"
        data-aos-delay="500"
        data-aos-once="true"
        class="col-lg-6 col-xl-4 col-md-6 col-12 mt--50 mt_md--30 mt_sm--30"
      >
        <div
          class="rn-portfolio"
          data-toggle="modal"
          data-target="#exampleModalCenter"
        >
          <div class="inner">
            <div class="thumbnail">
              <a href="javascript:void(0)">
                <img
                  src="/images/portfolio/portfolio-03.jpg"
                  alt="Personal Portfolio Images"
                />
              </a>
            </div>
            <div class="content">
              <div class="category-info">
                <div class="category-list">
                  <a href="javascript:void(0)">Photoshop</a>
                </div>
              </div>
              <h4 class="title">
                <a href="javascript:void(0)"
                  >Logo design creativity & Application
                  <i class="feather-arrow-up-right"></i></a
                >
              </h4>
            </div>
          </div>
        </div>
      </div> -->
      <!-- End Single Portfolio -->

      <!-- Start Single Portfolio -->
      <!-- <div
        data-aos="fade-up"
        data-aos-delay="100"
        data-aos-once="true"
        class="col-lg-6 col-xl-4 col-md-6 col-12 mt--50 mt_md--30 mt_sm--30"
      >
        <div
          class="rn-portfolio"
          data-toggle="modal"
          data-target="#exampleModalCenter"
        >
          <div class="inner">
            <div class="thumbnail">
              <a href="javascript:void(0)">
                <img
                  src="/images/portfolio/portfolio-04.jpg"
                  alt="Personal Portfolio Images"
                />
              </a>
            </div>
            <div class="content">
              <div class="category-info">
                <div class="category-list">
                  <a href="javascript:void(0)">Figma</a>
                </div>
              </div>
              <h4 class="title">
                <a href="javascript:void(0)"
                  >Mobile app landing design & Services<i
                    class="feather-arrow-up-right"></i></a
                >
              </h4>
            </div>
          </div>
        </div>
      </div> -->
      <!-- End Single Portfolio -->

      <!-- Start Single Portfolio -->
      <!-- <div
        data-aos="fade-up"
        data-aos-delay="300"
        data-aos-once="true"
        class="col-lg-6 col-xl-4 col-md-6 col-12 mt--50 mt_md--30 mt_sm--30"
      >
        <div
          class="rn-portfolio"
          data-toggle="modal"
          data-target="#exampleModalCenter"
        >
          <div class="inner">
            <div class="thumbnail">
              <a href="javascript:void(0)">
                <img
                  src="/images/portfolio/portfolio-05.jpg"
                  alt="Personal Portfolio Images"
                />
              </a>
            </div>
            <div class="content">
              <div class="category-info">
                <div class="category-list">
                  <a href="javascript:void(0)">Web Design</a>
                </div>
              </div>
              <h4 class="title">
                <a href="javascript:void(0)"
                  >Design for tecnology & services<i
                    class="feather-arrow-up-right"></i></a
                >
              </h4>
            </div>
          </div>
        </div>
      </div> -->
      <!-- End Single Portfolio -->

      <!-- Start Single Portfolio -->
      <!-- <div
        data-aos="fade-up"
        data-aos-delay="500"
        data-aos-once="true"
        class="col-lg-6 col-xl-4 col-md-6 col-12 mt--50 mt_md--30 mt_sm--30"
      >
        <div
          class="rn-portfolio"
          data-toggle="modal"
          data-target="#exampleModalCenter"
        >
          <div class="inner">
            <div class="thumbnail">
              <a href="javascript:void(0)">
                <img
                  src="/images/portfolio/portfolio-06.jpg"
                  alt="Personal Portfolio Images"
                />
              </a>
            </div>
            <div class="content">
              <div class="category-info">
                <div class="category-list">
                  <a href="javascript:void(0)">Web Design</a>
                </div>
              </div>
              <h4 class="title">
                <a href="javascript:void(0)"
                  >App for tecnology & services<i class="feather-arrow-up-right"
                  ></i></a
                >
              </h4>
            </div>
          </div>
        </div>
      </div> -->
      <!-- End Single Portfolio -->
    </div>
  </div>
</div>
<!-- End portfolio Area -->

<!-- Modal Portfolio Body area Start -->
<div
  class="modal fade"
  id="FundacionAnimal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"><i data-feather="x"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="portfolio-popup-thumbnail">
              <div class="image">
                <img
                  class="w-100"
                  src="/images/portfolio/portfolio-04.jpg"
                  alt="slide"
                />
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="text-content">
              <h3>
                <span>MERN (MongoDB - Express - React - Node)</span> Fundacion Animal
              </h3>
              <p class="mb--30">
                Este proyecto tiene una doble misión: ser donado a una
                beneficiencia y ser autosustentable. Construido en MERN stack,
                ofrece la mejor experiencia posible para los usuarios con
                características útiles como un dashboard para administradores y
                moderadores, filtros y un buscador para encontrar mascotas, y
                una página de contacto con la fundación.
              </p>
              <p>
                Los usuarios también pueden conocer al equipo detrás de la
                fundación, lo que les permite tener una idea más clara de
                quiénes son las personas detrás de este importante proyecto
                social y tecnológico que tendrá un impacto positivo en la
                sociedad.
              </p>
              <div class="button-group mt--20">
                <a
                  href="https://github.com/T1Scaynet/FE-Shelter"
                  target="_blank"
                  class="rn-btn thumbs-icon"
                >
                  <span>Código Fuente</span>
                  <i data-feather="github"></i>
                </a>
                <a
                  href="https://fe-shelter.vercel.app/"
                  target="_blank"
                  class="rn-btn"
                >
                  <span>Ejecutar Aplicación</span>
                  <i data-feather="chevron-right"></i>
                </a>
              </div>
            </div>
            <!-- End of .text-content -->
          </div>
        </div>
        <!-- End of .row Body-->
      </div>
    </div>
  </div>
</div>
<!-- End Modal Portfolio area -->

<!-- Modal Portfolio Body area Start -->
<div
  class="modal fade"
  id="TheDog"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"><i data-feather="x"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="portfolio-popup-thumbnail">
              <div class="image">
                <img
                  class="w-100"
                  src="/images/portfolio/portfolio-04.jpg"
                  alt="slide"
                />
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="text-content">
              <h3>
                <span>PERN (PostgreSQL - Express - React - Node)</span> The Dogs.
              </h3>
              <p class="mb--30">
                Proyecto personal que desarrollé utilizando PERN stack. Es una
                plataforma intuitiva para los amantes de los perros.La
                experiencia de usuario es sencilla e intuitiva, sin sacrificar
                la funcionalidad. La plataforma utiliza tecnologías modernas que
                garantizan una velocidad y eficiencia excepcionales en la
                búsqueda de perros.
              </p>
              <p>
                Los usuarios pueden buscar por nombre de raza, aplicar filtros
                y, lo que es más interesante, crear una nueva raza, incluyendo
                todos los datos relevantes del perro.
              </p>
              <div class="button-group mt--20">
                <a href="https://github.com/T1Scaynet/PI-DOGS" target="_blank" class="rn-btn thumbs-icon">
                  <span>Código Fuente</span>
                  <i data-feather="github"></i>
                </a>
                <a href="https://dogs.tavodev.com/" target="_blank" class="rn-btn">
                  <span>Ejecutar Aplicación</span>
                  <i data-feather="chevron-right"></i>
                </a>
              </div>
            </div>
            <!-- End of .text-content -->
          </div>
        </div>
        <!-- End of .row Body-->
      </div>
    </div>
  </div>
</div>
<!-- End Modal Portfolio area -->

<!-- Modal Portfolio Body area Start -->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"><i data-feather="x"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="portfolio-popup-thumbnail">
              <div class="image">
                <img
                  class="w-100"
                  src="/images/portfolio/portfolio-04.jpg"
                  alt="slide"
                />
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="text-content">
              <h3>
                <span>Featured - Design</span> App Design Development.
              </h3>
              <p class="mb--30">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Cupiditate distinctio assumenda explicabo veniam temporibus
                eligendi.
              </p>
              <p>
                Consectetur adipisicing elit. Cupiditate distinctio assumenda.
                dolorum alias suscipit rerum maiores aliquam earum odit, nihil
                culpa quas iusto hic minus!
              </p>
              <div class="button-group mt--20">
                <a href="#" class="rn-btn thumbs-icon">
                  <span>LIKE THIS</span>
                  <i data-feather="thumbs-up"></i>
                </a>
                <a href="#" class="rn-btn">
                  <span>VIEW PROJECT</span>
                  <i data-feather="chevron-right"></i>
                </a>
              </div>
            </div>
            <!-- End of .text-content -->
          </div>
        </div>
        <!-- End of .row Body-->
      </div>
    </div>
  </div>
</div>
<!-- End Modal Portfolio area -->
