<!-- Start Resume Area -->
<div class="rn-resume-area rn-section-gap section-separator" id="resume">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center">
          <span class="subtitle"
            >Desarrollador con habilidades de colaboración y trabajo en equipo</span
          >
          <h2 class="title">Sobre mi</h2>
        </div>
      </div>
    </div>
    <div class="row mt--45">
      <div class="col-lg-12">
        <ul class="rn-nav-list nav nav-tabs" id="myTabs" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              id="education-tab"
              data-toggle="tab"
              href="#education"
              role="tab"
              aria-controls="education"
              aria-selected="true">educación</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="professional-tab"
              data-toggle="tab"
              href="#professional"
              role="tab"
              aria-controls="professional"
              aria-selected="false">mis Skills</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="experience-tab"
              data-toggle="tab"
              href="#experience"
              role="tab"
              aria-controls="experience"
              aria-selected="false">experiencia</a
            >
          </li>
          <!-- <li class="nav-item">
            <a
              class="nav-link"
              id="interview-tab"
              data-toggle="tab"
              href="#interview"
              role="tab"
              aria-controls="interview"
              aria-selected="false">Referentes Tecnológicos</a
            >
          </li> -->
        </ul>
        <!-- Start Tab Content Wrapper  -->
        <div class="rn-nav-content tab-content" id="myTabContents">
          <!-- Start Single Tab  -->
          <div
            class="tab-pane show active fade single-tab-area"
            id="education"
            role="tabpanel"
            aria-labelledby="education-tab"
          >
            <div class="personal-experience-inner mt--40">
              <div class="row">
                <!-- Start Skill List Area  -->
                <div class="col-lg-6 col-md-12 col-12">
                  <div class="content">
                    <span class="subtitle">2018 - Presente</span>
                    <h4 class="maintitle">Formación académica</h4>
                    <div class="experience-list">
                      <!-- Start Single List  -->
                      <div class="resume-single-list">
                        <div class="inner">
                          <div class="heading">
                            <div class="title">
                              <h4>Full Stack Developer</h4>
                              <span>Henry (Dic. 2022 - Abr. 2023)</span>
                            </div>
                          </div>
                          <p class="description">
                            Un programa intensivo de desarrollo web Full Stack.
                            Aprendí a utilizar herramientas y tecnologías
                            actuales como HTML, CSS, JavaScript, React, Node.js,
                            Express y PostgreSQL. Destaco su enfoque en la
                            colaboración y el trabajo en equipo, lo que me
                            permitió desarrollar habilidades de liderazgo y
                            comunicación.
                          </p>
                        </div>
                      </div>
                      <!-- End Single List  -->

                      <!-- Start Single List  -->
                      <div class="resume-single-list">
                        <div class="inner">
                          <div class="heading">
                            <div class="title">
                              <h4>Full Stack Web Developer</h4>
                              <span>Platzi (Ene. 2022 - Presente)</span>
                            </div>
                          </div>
                          <p class="description">
                            La carrera de Full Stack Web Developer de Platzi fue
                            una experiencia enriquecedora para mí, ya que me
                            permitió adquirir habilidades de programación y
                            construir aplicaciones web modernas desde cero. A
                            través de un enfoque práctico y colaborativo,
                            aprendí a trabajar con tecnologías como HTML, CSS,
                            JavaScript, React, Node.js, Express, MongoDB,
                            Nest.js entre otras.
                          </p>
                        </div>
                      </div>
                      <!-- End Single List  -->

                      <!-- Start Single List  -->
                      <div class="resume-single-list">
                        <div class="inner">
                          <div class="heading">
                            <div class="title">
                              <h4>Ingenieria en Sistemas</h4>
                              <span
                                >UTN "Universidad Tecnológica Nacional" (2018 -
                                Pausado)</span
                              >
                            </div>
                          </div>
                          <p class="description">
                            Estudié Ingeniería en Sistemas en la UTN durante 2
                            años y medio, donde aprendí habilidades en
                            programación, bases de datos, redes y sistemas
                            operativos. La UTN me brindó una educación rigurosa
                            y práctica, donde aprendí a resolver problemas
                            complejos y desarrollé habilidades de pensamiento
                            crítico. También tuve la oportunidad de trabajar en
                            equipo y colaborar en proyectos desafiantes.
                          </p>
                        </div>
                      </div>
                      <!-- End Single List  -->
                    </div>
                  </div>
                </div>
                <!-- End Skill List Area  -->

                <!-- Start Skill List Area 2nd  -->
                <div class="col-lg-6 col-md-12 col-12 mt_md--60 mt_sm--60">
                  <div class="content margin-bottom:1rem">
                    <span class="subtitle" style="opacity: 0">-</span>
                    <h4 class="maintitle" style="opacity: 0">-</h4>
                    <div class="experience-list">
                      <!-- Start Single List  -->
                      <div class="resume-single-list">
                        <div class="inner">
                          <div class="heading">
                            <div class="title">
                              <h4>
                                React: Desde los fundamentos hasta la maestría
                              </h4>
                              <span>Udemy (Ene. 2023 - Febr. 2023)</span>
                            </div>
                          </div>
                          <p class="description">
                            Curso completo de React que abarca desde los
                            conceptos básicos hasta el nivel avanzado. Aprendí a
                            construir aplicaciones web modernas utilizando React
                            y sus bibliotecas asociadas, lo que me permitió
                            mejorar mis habilidades en programación y construir
                            proyectos de alta calidad.
                          </p>
                        </div>
                      </div>
                      <!-- End Single List  -->

                      <!-- Start Single List  -->
                      <div class="resume-single-list">
                        <div class="inner">
                          <div class="heading">
                            <div class="title">
                              <h4>
                                Node.js: Desde los conceptos básicos hasta la
                                maestría
                              </h4>
                              <span>Udemy (Febr. 2023 - Mar. 2023)</span>
                            </div>
                          </div>
                          <p class="description">
                            Curso completo de Node.js que cubre desde los
                            fundamentos hasta el nivel avanzado. Aprendí a
                            construir aplicaciones web escalables y de alta
                            calidad utilizando Node.js y sus bibliotecas
                            asociadas, lo que me permitió mejorar mis
                            habilidades en programación y construir proyectos
                            robustos y eficientes.
                          </p>
                        </div>
                      </div>
                      <!-- End Single List  -->

                      <!-- Start Single List  -->
                      <div class="resume-single-list">
                        <div class="inner">
                          <div class="heading">
                            <div class="title">
                              <h4>
                                Nest.js: Desde los conceptos básicos hasta la
                                maestría
                              </h4>
                              <span>Udemy (Mar. 2023 - Abr. 2023)</span>
                            </div>
                          </div>
                          <p class="description">
                            Durante el curso, adquirí habilidades avanzadas en
                            el desarrollo de aplicaciones web utilizando el
                            framework Nest.js, una herramienta moderna y
                            eficiente para la creación de servicios web
                            escalables y modulares. A través de un enfoque
                            práctico y colaborativo, aprendí a trabajar con
                            tecnologías como TypeScript, GraphQL, MongoDB, entre
                            otras.
                          </p>
                        </div>
                      </div>
                      <!-- End Single List  -->
                    </div>
                  </div>
                </div>
                <!-- End Skill List Area  -->
              </div>
            </div>
          </div>
          <!-- End Single Tab  -->

          <!-- Start Single Tab  -->
          <div
            class="tab-pane fade"
            id="professional"
            role="tabpanel"
            aria-labelledby="professional-tab"
          >
            <div class="personal-experience-inner mt--40">
              <div class="row row--40">
                <!-- Start Single Progressbar  -->
                <div class="col-lg-6 col-md-6 col-12">
                  <div class="progress-wrapper">
                    <div class="content">
                      <span class="subtitle">Features</span>
                      <h4 class="maintitle">Habilidades de desarrollo</h4>
                      <!-- Start Single Progress Charts -->
                      <!-- Start skiull area -->
                      <div class="rn-skill-area section-height">
                        <div class="inner slide">
                          <div class="skill-share-inner">
                            <ul class="skill-share d-flex liststyle">
                              <li>
                                <img
                                  src="/images/icons/react.svg"
                                  alt="Icons Images"
                                />
                              </li>
                              <li>
                                <img
                                  src="/images/icons/redux.svg"
                                  alt="Icons Images"
                                />
                              </li>
                              <li>
                                <img
                                  src="/images/icons/node.svg"
                                  alt="Icons Images"
                                />
                              </li>
                              <li>
                                <img
                                  src="/images/icons/nest.svg"
                                  alt="Icons Images"
                                />
                              </li>
                              <li>
                                <img
                                  src="/images/icons/typescript.svg"
                                  alt="Icons Images"
                                />
                              </li>
                              <li>
                                <img
                                  src="/images/icons/postgresql.svg"
                                  alt="Icons Images"
                                />
                              </li>
                              <li>
                                <img
                                  src="/images/icons/mongodb.svg"
                                  alt="Icons Images"
                                />
                              </li>
                              <li>
                                <img
                                  src="/images/icons/sequelize.svg"
                                  alt="Icons Images"
                                />
                              </li>
                              <li>
                                <img
                                  src="/images/icons/styledComponents.png"
                                  alt="Icons Images"
                                />
                              </li>
                              <li>
                                <img
                                  src="/images/icons/graphql.svg"
                                  alt="Icons Images"
                                />
                              </li>
                              <li>
                                <img
                                  src="/images/icons/bash.svg"
                                  alt="Icons Images"
                                />
                              </li>
                              <li>
                                <img
                                  src="/images/icons/git.svg"
                                  alt="Icons Images"
                                />
                              </li>
                              <li>
                                <img
                                  src="/images/icons/github.svg"
                                  alt="Icons Images"
                                />
                              </li>
                              <li>
                                <img
                                  src="/images/icons/docker.svg"
                                  alt="Icons Images"
                                />
                              </li>
                              <li>
                                <img
                                  src="/images/icons/next.svg"
                                  alt="Icons Images"
                                />
                              </li>
                              <li>
                                <img
                                  src="/images/icons/tailwind.svg"
                                  alt="Icons Images"
                                />
                              </li>
                              <li>
                                <img
                                  src="/images/icons/astro.svg"
                                  alt="Icons Images"
                                />
                              </li>
                              <li>
                                <img
                                  src="/images/icons/javascript.svg"
                                  alt="Icons Images"
                                />
                              </li>
                              <li>
                                <img
                                  src="/images/icons/firebase.svg"
                                  alt="Icons Images"
                                />
                              </li>
                              <li>
                                <img
                                  src="/images/icons/strapi.svg"
                                  alt="Icons Images"
                                />
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <!-- End skiull area -->
                      <!-- End Single Progress Charts -->
                    </div>
                  </div>
                </div>
                <!-- End Single Progressbar  -->

                <!-- Start Single Progressbar  -->
                <div class="col-lg-6 col-md-6 col-12 mt_sm--60">
                  <div class="progress-wrapper">
                    <div class="content">
                      <span class="subtitle">Features</span>
                      <h4 class="maintitle">Software / Herramientas</h4>
                      <!-- Start Single Progress Charts -->
                      <!-- Start skiull area -->
                      <div class="rn-skill-area section-height">
                        <div class="inner slide">
                          <div class="skill-share-inner">
                            <ul class="skill-share d-flex liststyle">
                              <li>
                                <img
                                  src="/images/icons/jira.svg"
                                  alt="Icons Images"
                                />
                              </li>
                              <li>
                                <img
                                  src="/images/icons/figma.svg"
                                  alt="Icons Images"
                                />
                              </li>
                              <li>
                                <img
                                  src="/images/icons/sketch.svg"
                                  alt="Icons Images"
                                />
                              </li>
                              <li>
                                <img
                                  src="/images/icons/railway.svg"
                                  alt="Icons Images"
                                />
                              </li>
                              <li>
                                <img
                                  src="/images/icons/render.svg"
                                  alt="Icons Images"
                                />
                              </li>
                              <li>
                                <img
                                  src="/images/icons/ubuntu.svg"
                                  alt="Icons Images"
                                />
                              </li>
                              <li>
                                <img
                                  src="/images/icons/atlassian.svg"
                                  alt="Icons Images"
                                />
                              </li>
                              <li>
                                <img
                                  src="/images/icons/visualStudioCode.svg"
                                  alt="Icons Images"
                                />
                              </li>
                              <li>
                                <img
                                  src="/images/icons/adobe.svg"
                                  alt="Icons Images"
                                />
                              </li>
                              <li>
                                <img
                                  src="/images/icons/vercel.svg"
                                  alt="Icons Images"
                                />
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <!-- End skiull area -->
                      <!-- End Single Progress Charts -->
                    </div>
                  </div>
                </div>
                <!-- End Single Progressbar  -->
              </div>
            </div>
          </div>
          <!-- End Single Tab  -->

          <!-- Start Single Tab  -->
          <div
            class="tab-pane fade"
            id="experience"
            role="tabpanel"
            aria-labelledby="experience-tab"
          >
            <div class="personal-experience-inner mt--40">
              <div class="row">
                <!-- Start Skill List Area  -->
                <div class="col-lg-6 col-md-12 col-12">
                  <div class="content">
                    <span class="subtitle">2023 - Presente</span>
                    <h4 class="maintitle">Experiencia academica</h4>
                    <div class="experience-list">
                      <!-- Start Single List  -->
                      <div class="resume-single-list">
                        <div class="inner">
                          <div class="heading">
                            <div class="title">
                              <h4>Fundación Animal</h4>
                              <span>Henry (Mar. 2023 - Abr. 2023)</span>
                            </div>
                          </div>
                          <p class="description">
                            Recientemente acompañe a liderar un equipo de 7
                            personas en un proyecto con el objetivo de crear una
                            aplicación que será donada a una fundación benéfica.
                            Implementamos la metodología Scrum, planificando
                            nuestros objetivos y tareas prioritarias en el
                            Product Backlog. La página cuenta con las siguientes
                            funcionalidades: Filtros combinados, local Storage,
                            rutas privadas, CRUD completo, Auth de terceros
                            integrado (google), Pasarela de pagos,
                            notificaciones por mail y borrado lógico.
                          </p>
                        </div>
                      </div>
                      <!-- End Single List  -->

                      <!-- Start Single List  -->
                      <!-- <div class="resume-single-list">
                        <div class="inner">
                          <div class="heading">
                            <div class="title">
                              <h4>The Dogs</h4>
                              <span>College of Studies (2000 - 2002)</span>
                            </div>
                            <div class="date-of-time">
                              <span>4.50/5</span>
                            </div>
                          </div>
                          <p class="description">
                            Maecenas finibus nec sem ut imperdiet. Ut tincidunt
                            est ac dolor aliquam sodales. Phasellus sed mauris
                            hendrerit, laoreet sem in, lobortis mauris hendrerit
                            ante.
                          </p>
                        </div>
                      </div> -->
                      <!-- End Single List  -->

                      <!-- Start Single List  -->
                      <!-- <div class="resume-single-list">
                        <div class="inner">
                          <div class="heading">
                            <div class="title">
                              <h4>Tips For Personal Portfolio</h4>
                              <span>University of Studies (1997 - 2001)</span>
                            </div>
                            <div class="date-of-time">
                              <span>4.80/5</span>
                            </div>
                          </div>
                          <p class="description">
                            If you are going to use a passage. Ut tincidunt est
                            ac dolor aliquam sodales. Phasellus sed mauris
                            hendrerit, laoreet sem in, lobortis mauris hendrerit
                            ante.
                          </p>
                        </div>
                      </div> -->
                      <!-- End Single List  -->
                    </div>
                  </div>
                </div>
                <!-- End Skill List Area  -->

                <!-- Start Skill List Area 2nd  -->
                <div class="col-lg-6 col-md-12 col-12 mt_md--60 mt_sm--60">
                  <div class="content">
                    <span class="subtitle" style="opacity: 0">-</span>
                    <h4 class="maintitle" style="opacity: 0">-</h4>
                    <div class="experience-list">
                      <!-- Start Single List  -->
                      <div class="resume-single-list">
                        <div class="inner">
                          <div class="heading">
                            <div class="title">
                              <h4>The Dogs</h4>
                              <span>Henry (Febr. 2023 - Mar. 2023)</span>
                            </div>
                          </div>
                          <p class="description">
                            Trabajé en un proyecto llamado "The Dogs". Mi
                            objetivo era crear una Single Page Application (SPA)
                            utilizando tecnologías como React, Redux, React
                            Router Dom, Nodejs, Sequelize, Express y PostgreSQL.
                            Los principales objetivos del proyecto eran permitir
                            que los usuarios buscaran perros por su nombre,
                            crear rutas y filtros combinados para hacer que la
                            navegación fuera fácil e intuitiva, y permitir a los
                            usuarios agregar un nuevo perro con facilidad.
                          </p>
                        </div>
                      </div>
                      <!-- End Single List  -->

                      <!-- Start Single List  -->
                      <!-- <div class="resume-single-list">
                        <div class="inner">
                          <div class="heading">
                            <div class="title">
                              <h4>The Personal Portfolio Mystery</h4>
                              <span>Job at Rainbow-Themes (2008 - 2016)</span>
                            </div>
                            <div class="date-of-time">
                              <span>4.95/5</span>
                            </div>
                          </div>
                          <p class="description">
                            Generate Lorem Ipsum which looks. Ut tincidunt est
                            ac dolor aliquam sodales. Phasellus sed mauris
                            hendrerit, laoreet sem in, lobortis mauris hendrerit
                            ante.
                          </p>
                        </div>
                      </div> -->
                      <!-- End Single List  -->

                      <!-- Start Single List  -->
                      <!-- <div class="resume-single-list">
                        <div class="inner">
                          <div class="heading">
                            <div class="title">
                              <h4>Diploma in Computer Science</h4>
                              <span
                                >Works at Plugin Development (2016 - 2020)</span
                              >
                            </div>
                            <div class="date-of-time">
                              <span>5.00/5</span>
                            </div>
                          </div>
                          <p class="description">
                            Maecenas finibus nec sem ut imperdiet. Ut tincidunt
                            est ac dolor aliquam sodales. Phasellus sed mauris
                            hendrerit, laoreet sem in, lobortis mauris hendrerit
                            ante.
                          </p>
                        </div>
                      </div> -->
                      <!-- End Single List  -->
                    </div>
                  </div>
                </div>
                <!-- End Skill List Area  -->
              </div>
            </div>
          </div>
          <!-- End Single Tab  -->

          <!-- Start Single Tab  -->
          <div
            class="tab-pane fade"
            id="interview"
            role="tabpanel"
            aria-labelledby="interview-tab"
          >
            <div class="personal-experience-inner mt--40">
              <div class="row">
                <!-- Start Skill List Area  -->
                <div class="col-lg-6 col-md-12 col-12">
                  <div class="content">
                    <span class="subtitle">2007 - 2010</span>
                    <h4 class="maintitle">Company Experience</h4>
                    <div class="experience-list">
                      <!-- Start Single List  -->
                      <div
                        data-aos="fade-up"
                        data-aos-duration="500"
                        data-aos-delay="300"
                        data-aos-once="true"
                        class="resume-single-list"
                      >
                        <div class="inner">
                          <div class="heading">
                            <div class="title">
                              <h4>Personal Portfolio April Fools</h4>
                              <span>University of DVI (1997 - 2001)</span>
                            </div>
                            <div class="date-of-time">
                              <span>4.30/5</span>
                            </div>
                          </div>
                          <p class="description">
                            The education should be very interactual. Ut
                            tincidunt est ac dolor aliquam sodales. Phasellus
                            sed mauris hendrerit, laoreet sem in, lobortis
                            mauris hendrerit ante.
                          </p>
                        </div>
                      </div>
                      <!-- End Single List  -->

                      <!-- Start Single List  -->
                      <div
                        data-aos="fade-up"
                        data-aos-duration="500"
                        data-aos-delay="500"
                        data-aos-once="true"
                        class="resume-single-list"
                      >
                        <div class="inner">
                          <div class="heading">
                            <div class="title">
                              <h4>Examples Of Personal Portfolio</h4>
                              <span>College of Studies (2000 - 2002)</span>
                            </div>
                            <div class="date-of-time">
                              <span>4.50/5</span>
                            </div>
                          </div>
                          <p class="description">
                            Maecenas finibus nec sem ut imperdiet. Ut tincidunt
                            est ac dolor aliquam sodales. Phasellus sed mauris
                            hendrerit, laoreet sem in, lobortis mauris hendrerit
                            ante.
                          </p>
                        </div>
                      </div>
                      <!-- End Single List  -->

                      <!-- Start Single List  -->
                      <div
                        data-aos="fade-up"
                        data-aos-duration="500"
                        data-aos-delay="700"
                        data-aos-once="true"
                        class="resume-single-list"
                      >
                        <div class="inner">
                          <div class="heading">
                            <div class="title">
                              <h4>Tips For Personal Portfolio</h4>
                              <span>University of Studies (1997 - 2001)</span>
                            </div>
                            <div class="date-of-time">
                              <span>4.80/5</span>
                            </div>
                          </div>
                          <p class="description">
                            If you are going to use a passage. Ut tincidunt est
                            ac dolor aliquam sodales. Phasellus sed mauris
                            hendrerit, laoreet sem in, lobortis mauris hendrerit
                            ante.
                          </p>
                        </div>
                      </div>
                      <!-- End Single List  -->
                    </div>
                  </div>
                </div>
                <!-- End Skill List Area  -->

                <!-- Start Skill List Area 2nd  -->
                <div class="col-lg-6 col-md-12 col-12 mt_md--60 mt_sm--60">
                  <div class="content">
                    <span class="subtitle">2007 - 2010</span>
                    <h4 class="maintitle">Job Experience</h4>
                    <div class="experience-list">
                      <!-- Start Single List  -->
                      <div
                        data-aos="fade-up"
                        data-aos-duration="500"
                        data-aos-delay="500"
                        data-aos-once="true"
                        class="resume-single-list"
                      >
                        <div class="inner">
                          <div class="heading">
                            <div class="title">
                              <h4>Diploma in Web Development</h4>
                              <span>BSE In CSE (2004 - 2008)</span>
                            </div>
                            <div class="date-of-time">
                              <span>4.70/5</span>
                            </div>
                          </div>
                          <p class="description">
                            Contrary to popular belief. Ut tincidunt est ac
                            dolor aliquam sodales. Phasellus sed mauris
                            hendrerit, laoreet sem in, lobortis mauris hendrerit
                            ante.
                          </p>
                        </div>
                      </div>
                      <!-- End Single List  -->

                      <!-- Start Single List  -->
                      <div
                        data-aos="fade-up"
                        data-aos-duration="500"
                        data-aos-delay="700"
                        data-aos-once="true"
                        class="resume-single-list"
                      >
                        <div class="inner">
                          <div class="heading">
                            <div class="title">
                              <h4>The Personal Portfolio Mystery</h4>
                              <span>Job at Rainbow-Themes (2008 - 2016)</span>
                            </div>
                            <div class="date-of-time">
                              <span>4.95/5</span>
                            </div>
                          </div>
                          <p class="description">
                            Generate Lorem Ipsum which looks. Ut tincidunt est
                            ac dolor aliquam sodales. Phasellus sed mauris
                            hendrerit, laoreet sem in, lobortis mauris hendrerit
                            ante.
                          </p>
                        </div>
                      </div>
                      <!-- End Single List  -->

                      <!-- Start Single List  -->
                      <div
                        data-aos="fade-up"
                        data-aos-duration="500"
                        data-aos-delay="900"
                        data-aos-once="true"
                        class="resume-single-list"
                      >
                        <div class="inner">
                          <div class="heading">
                            <div class="title">
                              <h4>Diploma in Computer Science</h4>
                              <span
                                >Works at Plugin Development (2016 - 2020)</span
                              >
                            </div>
                            <div class="date-of-time">
                              <span>5.00/5</span>
                            </div>
                          </div>
                          <p class="description">
                            Maecenas finibus nec sem ut imperdiet. Ut tincidunt
                            est ac dolor aliquam sodales. Phasellus sed mauris
                            hendrerit, laoreet sem in, lobortis mauris hendrerit
                            ante.
                          </p>
                        </div>
                      </div>
                      <!-- End Single List  -->
                    </div>
                  </div>
                </div>
                <!-- End Skill List Area  -->
              </div>
            </div>
          </div>
          <!-- End Single Tab  -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Resume Area -->
